[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
flasgger = "==0.9.7.1"
gunicorn = "==22.0.0"
coverage = "==7.5.3"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.12"
